.gradle
build/
/local.properties
.idea
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
opencode.json
.kotlin/
/PanPlayer-debug.apk
*.apk
windows/**/bin/
windows/**/obj/
windows/publish/
windows/*.zip

.dotnet/
windows/_build_out/
windows/*-win-x64/
windows/*-win-x86/
windows/*-linux-x64/
.opencode/
